# Pandas
- Pandas is a fast, powerful, flexible and an easy-to-use open-source data analysis tool built on the top of the Python and NumPy
- It provides 2 data structures primarily

**1. Series:**
- Series is a 1-D array, which is labeled along with its index.
- Unlike the traditional array and list, it is pretty-printed as the cells of the tables
- The key difference between a series and an array or a list is that the indexing data-type of the series can be modified by the user, while this is not true for lists and arrays
- Notably, not only out of list, but Series can also be created by passing the Python's built-in dictionary.
- In case of a dictionary being the Series, the keys are taken as index

**2. DataFrame:**
- DataFrame is another data structure provided by Pandas.
- It is a 2-D representation of the labeled data, from table
# Features of Pandas
- Pandas easily handles the missing values, showing `NA` or `NaN` for the values which are not defined
- It provides powerful functions to classify the data in groups and also aggregate it
- Pandas supports reading and writing the data from various formats which includes:
    1. CSV
    2. JSON
    3. Excel
    4. SQL
    5. And many more...
- Pandas has built-in support for time-series
- Pandas, when combined with NumPy and MatPlotLib, can serve the purpose of data manipulation and data analysis very well
- Let's get started with coding Pandas and its topics:
# Series
- Series can be created either by passing list, tuple and set or dictionary
## List, tuple and set as series
- If a series is created using list, tuple or set, the indexing is automatically assigned as normally.
- Indexing values can be cutomized.
## Dictionary as series
- In the case of a dictionary as a series, the keys of the dictionary are taken in use as the indexes.
- Indexing can be customized and if attempted to customize, it will show the `NaN` value because the index values passed through have no value.

In [41]:
# import Series as series from "pandas"
from pandas import Series as series

# Series from a list
a = series([1, True, "Hello", 3.14])
print(f"Series from a list:\n{a}\n")

# Series from a dictionary
b = series({
    "name": "Chiku",
    "role": "Batsman",
    "totalRuns": 27599
})
print(f"Series from a dictionary:\n{b}\n")

# Series from a dictionary, attempting to tweak index
c = series({
    "name": "Vadapav",
    "role": "Batsman",
    "totalRuns": 19700 
}, index = [1, 2, 3])
print(f"Series with tweaked indexes:\n{c}")

Series from a list:
0        1
1     True
2    Hello
3     3.14
dtype: object

Series from a dictionary:
name           Chiku
role         Batsman
totalRuns      27599
dtype: object

Series with tweaked indexes:
1    NaN
2    NaN
3    NaN
dtype: object

## Accessing index and values of the series
1. **Values**
- Values of a series can be accessed by using the attribute `value` of the series 
2. **Index**
- Index of the series can be accessed by using the attribute `index` of the series

In [42]:
from pandas import Series as series
a = series([1, "Hi", False, 3.33])
print(f"Generated series:\n{a}\n")

# Accessing values
b = a.values
print(f"Values of the series are:\n{b}\n")

# Accessing indexes
c = a.index
print(f"Indexes of the series are:\n{c}")

Generated series:
0        1
1       Hi
2    False
3     3.33
dtype: object

Values of the series are:
[1 'Hi' False 3.33]

Indexes of the series are:
RangeIndex(start=0, stop=4, step=1)

## Customizing index of Series
- Customizing the index of the series is a feature, which in my sense makes a series different than an array or list.
- You can pass the `index` arguement while creating the series, if you want to customize the indexing of the series
- If it is not passed that argue, then the series will nbe indexed normally, like that in for a list or an array

In [43]:
from pandas import Series as series
a = series([1, "Hello", False, 3.33], index = ["a", "b", "c", "d"])
print(f"Example of customizing series index:\n{a}\n")

Example of customizing series index:
a        1
b    Hello
c    False
d     3.33
dtype: object

- Here, if you passes the index elements more or less in number than the length of the series, then, it throws the error.
- For example, look below:

In [44]:
from pandas import Series as series
a = series([1, "Hello", False, 3.33], index = ["a", "b", "c", "d", "e"])
print(f"Example of customizing series index:\n{a}\n")

ValueError: Length of values (4) does not match length of index (5)

# DataFrame
- DataFrame is a 2D mutable and heterogenous tabular-form data structure with the labeled axes
- Common way to generate the DataFrame is by using the dictionary, with values of each keys being a list of same length and greater than one
- For example:

In [58]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj)
print(table)

        name     role  team
0  R. Sharma  Batsman    MI
1  S. Dhawan  Batsman  PBKS
2   V. Kohli  Batsman   RCB

- And as you can see, how is it pretty-printed
## Customizing order of columns
- Like index of series can be customized, the order of the columns in the dataframe can also be customized
- The keyword arguement `columns` is used to customize the order of the columns in the dataframe
- It is the list of keys of the object, but in the order, you want to view it.
- It can be optionally passed when creating the dataframe.
- Here is the example:

In [57]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, columns = ["team", "name", "role"])
print(table)

   team       name     role
0    MI  R. Sharma  Batsman
1  PBKS  S. Dhawan  Batsman
2   RCB   V. Kohli  Batsman

- Here, in columns list, if you passes the key's name which is not there available in the object sent to DataFrame for creating the table, then you will see all the values of the column with that key shown in the table as `NaN`, again.
- Look at example below

In [56]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, columns = ["name", "role", "team", "totalRuns"])
print(table)

        name     role  team totalRuns
0  R. Sharma  Batsman    MI       NaN
1  S. Dhawan  Batsman  PBKS       NaN
2   V. Kohli  Batsman   RCB       NaN

## Customizing index of DataFrame
- Like Series, the indexing values of the DataFrame can also be customized, in the way similar to that how the indexing of the Series was customizable.
- Example:

In [55]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])
print(table)

        name     role  team
1  R. Sharma  Batsman    MI
2  S. Dhawan  Batsman  PBKS
3   V. Kohli  Batsman   RCB

## Accessing columns
- Like dictionary, the columns in a dataframe can be accessed by the dictionary-like syntax
- The syntax followed for accessing columns seperately is:
1. `dict.key`
- This attribute-like value-accesing syntax can only work, if the particular key has no space.
- It fails if there is space in the name of the key
2. `dict[key]`
- This method is helpful for accessing any type of keys, irrespective of whether the key has or not the space in its name, this method will get you the values of the keys retrieved successfully if the key exists

In [53]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])
col = table.name
print(f"Names of the players are:\n{col}\n")

Names of the players are:
1    R. Sharma
2    S. Dhawan
3     V. Kohli
Name: name, dtype: object

## Accessing column's names
- Accessing the names of all the existing colummns in a DataFrame is possible via the `columns` attribute of the dataframe
- For example

In [54]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])
head = table.columns
print(f"Column names of the table are:\n{head}")

Column names of the table are:
Index(['name', 'role', 'team'], dtype='object')

## Accessing rows
**1. By `loc[]` method:**
- The rows of the dataframe can be accessed using the `loc[]` attribute of the dataframes, by giving the index as the arguement

In [52]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])
row = table.loc[3]
print(f"Information of king:\n{row}")

Information of king:
name    V. Kohli
role     Batsman
team         RCB
Name: 3, dtype: object

**2. By `iloc[]` method:**
- The rows of the dataframe can also be accessed using `iloc[]` attribute.
- The difference between the 2 methods is that, loc[] takes custom index as arguement for accessing, while iloc[] takes the original index as arguement for accessing.
- Here, from **"original"**, it is meant the actual indexing way, which starts from 0 and goes upto n - 1 where n is the length of the data structure.
- For example:

In [1]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])
row = table.iloc[0]
print(f"Information about Shana:\n{row}")

Information about Shana:
name    R. Sharma
role      Batsman
team           MI
Name: 1, dtype: object

## Creating new columns
- The new columns can be created easily by the same ditionary-like syntax, in any existing DataFrame
- The value of it can either be single or an array
- If the value passed is array with length not matching the length of the lists, it will again throw the error
- If the value passed is single, then it is automatically expanded.
- For example, see below ot get more clear idea of what I am trying to convey:

In [51]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])

# 1 Value as value of column
table["runs"] = "10000+"
print(f"Table showing common total runs between 3 batters:\n{table}\n")

# array as value of column
table["runs"] = [19700, 10867, 27599]
print(f"Table showing the specific runs of each batter:\n{table}")

Table showing common total runs between 3 batters:
        name     role  team    runs
1  R. Sharma  Batsman    MI  10000+
2  S. Dhawan  Batsman  PBKS  10000+
3   V. Kohli  Batsman   RCB  10000+

Table showing the specific runs of each batter:
        name     role  team   runs
1  R. Sharma  Batsman    MI  19700
2  S. Dhawan  Batsman  PBKS  10867
3   V. Kohli  Batsman   RCB  27599

## Deleting columns
- The columns existing in the table can be deleted by the help of the keyword `del`, like similar to that of the dictionary

In [50]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])

# Before deleting a column
print(f"Table before deleting a column:\n{table}\n")

# Deleting the "team"'s column
del table["team"]

# After deleting the team's column, table
print(f"Table after deleting the 'team' column:\n{table}")

Table before deleting a column:
        name     role  team
1  R. Sharma  Batsman    MI
2  S. Dhawan  Batsman  PBKS
3   V. Kohli  Batsman   RCB

Table after deleting the 'team' column:
        name     role
1  R. Sharma  Batsman
2  S. Dhawan  Batsman
3   V. Kohli  Batsman

## Transposing DataFrame
- Like NumPy's arrays, transposing can also be done on the DataFrame of Pandas
- The same attribute `T` is used for the purpose
- For an example:

In [49]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])

# Normal table
print(f"Normal table is:\n{table}\n")

# Transposing the table
tp = table.T
print(f"Transposing the table gives:\n{tp}")

Normal table is:
        name     role  team
1  R. Sharma  Batsman    MI
2  S. Dhawan  Batsman  PBKS
3   V. Kohli  Batsman   RCB

Transposing the table gives:
              1          2         3
name  R. Sharma  S. Dhawan  V. Kohli
role    Batsman    Batsman   Batsman
team         MI       PBKS       RCB

## Re-indexing
- In Pandas, the objects can be reindexed by using the `reindex` attribute either on Series or DataFrame
- Reindexing will change the indexes of the existing DataFrame, hence, if there is nothing pre-existing on that index, it will show the `NaN` there in the new formed object.
- A code example is given below:

In [48]:
from pandas import DataFrame as df
obj = {
    "name": ["R. Sharma", "S. Dhawan", "V. Kohli"],
    "role": ["Batsman", "Batsman", "Batsman"],
    "team": ["MI", "PBKS", "RCB"]
}
table = df(obj, index = [1, 2, 3])

# Before reindexing
print(f"Before reindexing:\n{table}\n")

# Reindexing
rI = table.reindex(["a", "b", "c"])

# After reindexing
print(f"After reindexing:\n{rI}")

Before reindexing:
        name     role  team
1  R. Sharma  Batsman    MI
2  S. Dhawan  Batsman  PBKS
3   V. Kohli  Batsman   RCB

After reindexing:
  name role team
a  NaN  NaN  NaN
b  NaN  NaN  NaN
c  NaN  NaN  NaN

## Deleting values from row
- The entries from a Series or DataFrame can be deleted easily using the `drop()` method of the data structures.
- Although, the data structure whose part is to be dropped needs to be indexed.
- The drop function takes the index as the arguement and removes the corresponding values of the index.
- The drop function is opposite to pop, as it returns the new data structure
- For example:

In [47]:
from pandas import Series as series, DataFrame as df
from numpy.random import randint

# Deleting element from a series
a = randint(1, 11, (5))
b = series(a, index = [i for i in range(1, len(a) + 1)])
print(f"Generated series:\n{b}\n")
c = b.drop(3)
print(f"After dropping value at 3rd index, series:\n{c}\n\n")

# Deleting element from a dataframe
d = {
    "name": ["J. Bumrah", "V. Kohli", "R. Jadeja"],
    "role": ["Bowler", "Batsman", "AllRounder"]
}
e = df(d, index = [i for i in range(1, len(d["name"]) + 1)])
print(f"Generated dataframe:\n{e}\n")
f = e.drop(2)
print(f"After dropping the row at index 2, dataframe:\n{f}")

Generated series:
1    1
2    2
3    8
4    1
5    5
dtype: int32

After dropping value at 3rd index, series:
1    1
2    2
4    1
5    5
dtype: int32


Generated dataframe:
        name        role
1  J. Bumrah      Bowler
2   V. Kohli     Batsman
3  R. Jadeja  AllRounder

After dropping the row at index 2, dataframe:
        name        role
1  J. Bumrah      Bowler
3  R. Jadeja  AllRounder

### Deleting values from column
- For deleting the values from column of the dataframe, you can pass the value of `axis` arguement as `1`, which is by default set to `0` for deleting the rows by default.
- For example:

In [46]:
from pandas import DataFrame as df
a = {
    "name": ["J. Bumrah", "V. Kohli", "R. Jadeja"],
    "role": ["Bowler", "Batsman", "AllRounder"]
}
b = df(a, index = [i for i in range(1, len(a["name"]) + 1)])
print(f"Generated dataframe:\n{b}\n")
c = b.drop("role", axis = 1)
print(f"After dropping the row at index 2, dataframe:\n{c}")

Generated dataframe:
        name        role
1  J. Bumrah      Bowler
2   V. Kohli     Batsman
3  R. Jadeja  AllRounder

After dropping the row at index 2, dataframe:
        name
1  J. Bumrah
2   V. Kohli
3  R. Jadeja

## Modifying existing data structure
- Modifying the existing data structure instead of returning the whole new modified data structure is an important aspect at the large level of datasets.
- By default, the `.drop()` attribute returns the new data structure, but hopefully, this behaviour of the attribute of returning a whole new data structure can be modified.
- It is possible by giving a boolean arguement `inplace`, which is by default set to `False`.
- Setting it to `True` does not returns the new DS, instead modifies the existing DS in place, which is a memory efficient way of modifying the DataFrame or Series, but be careful while using the parameter, as you may lose your all crucial data if you try to delete the whole data with the inplace parameter being True.  
- For example:

In [45]:
from pandas import DataFrame as df
a = {
    "name": ["J. Bumrah", "V. Kohli", "R. Jadeja"],
    "role": ["Bowler", "Batsman", "AllRounder"]
}
b = df(a, index = [i for i in range(1, len(a["name"]) + 1)])
print(f"Generated dataframe:\n{b}\n")
b.drop(1, axis = 0, inplace = True)
print(f"After dropping the row at index 2, dataframe:\n{b}")

Generated dataframe:
        name        role
1  J. Bumrah      Bowler
2   V. Kohli     Batsman
3  R. Jadeja  AllRounder

After dropping the row at index 2, dataframe:
        name        role
2   V. Kohli     Batsman
3  R. Jadeja  AllRounder

## Arithmetic operations
- Like arithmetic operations being possible on other data structures, the arithmetic operations are also possible on the built-in data structures of the Pandas, but with a trade-off - that their indexes must be same, and if indexes are not the same, the particular cell or element will be displayed as `NaN`.
- For example:

In [14]:
from numpy.random import randint
from pandas import Series as series, DataFrame as df

# On series
a = randint(1, 11, (5))
b = series(a, index = [i for i in range(1, len(a) + 1)])
print(f"First series:\n{b}\n")
c = randint(1, 11, (3))
d = series(c, index = [i for i in range(1, len(a) + 1, 2)])
print(f"Second series:\n{d}\n")
e = b + d
print(f"Sum of both series is:\n{e}\n\n")

# On dataframe
f = randint(1, 11, (3, 3))
g = df(f, columns = [chr(i) for i in range(65, 68)], index = [i for i in range(len(f))])
print(f"First dataframe:\n{g}\n")
h = randint(1, 11, (3, 3))
i = df(h, columns = [chr(i) for i in range(65, 70, 2)], index = [i for i in range(len(h))])
print(f"Second dataframe:\n{i}\n")
j = g + i
print(f"Sum of both dataframes:\n{j}")

First series:
1     3
2     2
3    10
4     6
5    10
dtype: int32

Second series:
1    7
3    4
5    8
dtype: int32

Sum of both series is:
1    10.0
2     NaN
3    14.0
4     NaN
5    18.0
dtype: float64


First dataframe:
   A  B   C
0  8  6  10
1  8  4   7
2  5  6   9

Second dataframe:
   A  C  E
0  6  2  9
1  9  4  8
2  2  9  2

Sum of both dataframes:
    A   B   C   E
0  14 NaN  12 NaN
1  17 NaN  11 NaN
2   7 NaN  18 NaN

## Mitigating `NaN`s
- In the above examples, as you can see, index or column mismatch results in the production of `NaN` values, which stands for *Not a Number* values.
- To overcome the `NaN`s in the result, the parameter `fill_value` is used as a placeholder value, replacing the `NaN`s for any number you argue to it.
- For this purpose, the built-in mathematical function needs to be used, like add(), sub(), div(), etc..
- For example:

In [18]:
from numpy.random import randint
from pandas import DataFrame as df

a = randint(1, 11, (3, 3))
b = df(f, columns = [chr(i) for i in range(65, 68)], index = [i for i in range(len(a))])
print(f"First dataframe:\n{b}\n")

c = randint(1, 11, (3, 3))
d = df(h, columns = [chr(i) for i in range(65, 70, 2)], index = [i for i in range(len(c))])
print(f"Second dataframe:\n{d}\n")

e = b.add(d, fill_value = 0)
print(f"Sum of both dataframes:\n{e}")

First dataframe:
   A  B   C
0  8  6  10
1  8  4   7
2  5  6   9

Second dataframe:
   A  C  E
0  6  2  9
1  9  4  8
2  2  9  2

Sum of both dataframes:
    A    B   C    E
0  14  6.0  12  9.0
1  17  4.0  11  8.0
2   7  6.0  18  2.0

## Applying functions
- The function which is specifically applied or mapped to a series, dataframe or column or row of a dataframe can be said to be the function applied or mapped
- For example

In [50]:
from pandas import DataFrame as df

a = {
    "round 1": [97, 99, 99],
    "round 2": [91, 86, 83],
    "round 3": [74, 93, 37]
}
b = df(a, index = ["Rohit", "Jasprit", "Virat"])
print(f"Generated dataframe:\n{b}\n")

# Summing the scores of players
f = lambda d: sum(d)
c = b.apply(f, axis = 1)
print(f"Sum is:\n{d}\n")

# Taking out the average of the sums of the scores of the players
e = c/len(a["round 1"])
print(f"Average is:\n{round(e, 2)}")

Generated dataframe:
         round 1  round 2  round 3
Rohit         97       91       74
Jasprit       99       86       93
Virat         99       83       37

Sum is:
Rohit      262
Jasprit    292
Virat      154
dtype: int64

Average is:
Rohit      87.33
Jasprit    92.67
Virat      73.00
dtype: float64

- Here in the above code, the scores by each player is being averaged out at last and calculated by using the lambda function and `.apply()` attribute.
- The direction of summing can be handled using `axis` arguement as said before
- In case of series also, the same way, the functions can be applied.
## Sorting
### By index
- In pandas, the data can also be sorted by index, using the `sort_index()` function, which returns the new sorted data index-wise
- For example, have a look:

In [65]:
from pandas import Series as series, DataFrame as df
from numpy.random import randint

# On series
a = randint(1, 11, (5))
b = series(a, index = [i for i in range(len(a), 0, -1)])
print(f"Series without sorting:\n{b}\n")
c = b.sort_index()
print(f"Series with sorting:\n{c}\n\n")

# On dataframe
d = randint(1, 11, (3, 3))
e = df(d, index = [i for i in range(len(d))], columns = [chr(i) for i in range(67, 64, -1)])
print(f"DataFrame without sorting:\n{e}\n")
f = e.sort_index(axis = "columns", ascending = True)
print(f"DataFrame with sorting:\n{f}")

Series without sorting:
5     3
4     7
3     1
2     4
1    10
dtype: int32

Series with sorting:
1    10
2     4
3     1
4     7
5     3
dtype: int32


DataFrame without sorting:
   C  B  A
0  1  3  2
1  4  6  4
2  1  7  2

DataFrame with sorting:
   A  B  C
0  2  3  1
1  4  6  4
2  2  7  1

### By value
- To sort the data by its values instead of its index, use `sort_values` method
- The missing values like `NaN`s are put at the last
- Example:

In [70]:
import pandas as pd
import numpy as np

# Sorting  values of series
a = pd.Series([9, np.nan, 14, -1, 0])
print(f"Generated series is:\n{a}\n")
b = a.sort_values()
print(f"Sorted series is:\n{b}\n\n")

# Sorting values of dataframe
c = pd.DataFrame({
    "b": [4, 7, -3, 2],
    "a": [0, 1, 0, 1]
})
print(f"Generated dataframe is:\n{c}\n")
d = c.sort_values(by = "b")
print(f"Sorted dataframe is:\n{d}\n")

Generated series is:
0     9.0
1     NaN
2    14.0
3    -1.0
4     0.0
dtype: float64

Sorted series is:
3    -1.0
4     0.0
0     9.0
2    14.0
1     NaN
dtype: float64


Generated dataframe is:
   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

Sorted dataframe is:
   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

- For sorting the dataframes, you must pass a required arguement to sort_value function which is `by`.
- The by parameter is used to determine the keys for sorting, as seen in the example above
## Ranking
- Ranking is used to assign the ranks in the data elements, in float-value
- The `rank()` method is used for assigning the ranks to the data structures
- The elements with same values got the rank assigned by averaging out the sum of their positions
- For DataFrame, column or row can be ranked with axis flag

In [74]:
from pandas import Series as series, DataFrame as df
from numpy.random import randint

# Ranking series
a = randint(1, 11, (5))
b = series(a)
print(f"Generated series:\n{b}\n")
c = b.rank()
print(f"Ranks of elements of series:\n{c}\n")

# Ranking dataframe
d = df({
    "a": list(randint(1, 11, (5))),
    "b": list(randint(1, 11, (5))),
    "c": list(randint(1, 11, (5)))
})
print(f"Generated dataframe:\n{d}\n")
e = d.rank(axis = "rows")
print(f"Ranked elements of dataframe as per rows:\n{e}")

Generated series:
0    10
1     9
2     7
3     7
4     2
dtype: int32

Ranks of elements of series:
0    5.0
1    4.0
2    2.5
3    2.5
4    1.0
dtype: float64

Generated dataframe:
    a  b   c
0  10  8   1
1   5  4   5
2   1  4  10
3  10  5   9
4   2  8   8

Sorted dataframe as per rows:
     a    b    c
0  4.5  4.5  1.0
1  3.0  1.5  2.0
2  1.0  1.5  5.0
3  4.5  3.0  4.0
4  2.0  4.5  3.0